<%- include('../_partials/navbar') %>

<p>标签：<%= tag.name %></p>

<% for( let i = 0; i < posts.length; i++ ) { %>
<div>
  <a href="/posts/<%= posts[i].id %>"><%= posts[i].title %></a>
</div>
<% } %>

<div style="display: flex">
  <% if (currentPage !== 1) { %>
  <div>
    <% if (currentPage === 2) { %>
    <a href="/tags/<%= tag.id %>">上一页</a>
    <% } else { %>
    <a href="/tags/<%= tag.id %>/page/<%= currentPage - 1 %>">上一页</a>
    <% } %>
  </div>
  <% } %>

  <div>
    <%= currentPage %>
    /
    <%= pageCount %>
  </div>

  <% if (currentPage !== pageCount) { %>
  <div>
    <a href="/tags/<%= tag.id %>/page/<%= currentPage + 1 %>">下一页</a>
  </div>
  <% } %>
</div>
